Flask==2.2.3               # Framework web principal
Flask-Bcrypt==1.0.1        # Gestion des mots de passe hachés
python-dotenv==1.0.0       # Chargement des variables d'environnement depuis un fichier .env
azure-storage-blob==12.15.0 # Interaction avec Azure Blob Storage
pyodbc==4.0.39             # Connexion à SQL Server via ODBC
Werkzeug==2.2.3            # Utilisé par Flask pour le routage et les sessions
itsdangerous==2.1.2        # Sécurisation des cookies de session
click==8.1.3               # Outil CLI intégré à Flask
Jinja2==3.1.2              # Moteur de template utilisé par Flask
MarkupSafe==2.1.3          # Sécurisation des chaînes de caractères dans Jinja2
